<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Property</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body style="display: flex; flex-direction: column; background-image: url('/images/landlord-dashboard.WEBP'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Roboto', sans-serif; background-color: transparent !important;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">
                <img th:src="@{/images/rentallife.jpg}" alt="Dashboard Logo" style="height: 80px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/maintenance-requests}">Maintenance Status</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/landlord-payment-history}">Payment History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="property-form">Add Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="assign-tenant">Assign Tenant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="upload">Upload File</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/landlord-files}">Files</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li><a class="dropdown-item" th:href="@{/edit-profile}">Settings</a></li>
                            <li><a class="dropdown-item" th:href="help">Help</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <h2>Edit Property</h2>
    <form action="#" th:action="@{/update-property/{id}(id=${property.id})}" method="post" style="background-color: rgba(255, 255, 255, 0.7)">
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" class="form-control" th:value="${property.address}">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" class="form-control" th:value="${property.city}">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" id="state" name="state" class="form-control" th:value="${property.state}">
        </div>
        <div class="form-group">
            <label for="zip">Zip:</label>
            <input type="text" id="zip" name="zip" class="form-control" th:value="${property.zip}">
        </div>
        <div class="form-group">
            <label for="rooms">Rooms:</label>
            <input type="number" id="rooms" name="rooms" class="form-control" th:value="${property.rooms}">
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="form-control" th:value="${property.price}">
        </div>
        <div class="form-group">
            <label for="term">Term:</label>
            <input type="text" id="term" name="term" class="form-control" th:value="${property.term}">
        </div>
        <div class="form-group">
            <label for="tenant">Re-Assign Tenant:</label>
            <select id="tenant" name="tenantId" class="form-control">
                <option value="" th:text="'No tenant assigned'"></option> <!-- 空选项 -->
                <option th:each="tenant : ${tenants}" th:value="${tenant.id}" th:text="${tenant.firstName + ' ' + tenant.lastName}"></option>
            </select>
        </div>

    </form>
    <button type="submit" class="btn btn-primary">Update Property</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>